* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fbd59d;
}

#navigate {
  width: 100%;
  height: 50px;
  background-color: #e66767;
  position: fixed;
  top: 0;
  z-index: 3000;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
}

#navigate #navCrutch {
  width: 320px;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigate #navCrutch #leftGrad {
  width: 10px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#e66767), to(#ea8685));
  background: linear-gradient(90deg, #e66767, #ea8685);
}

#navigate #navCrutch #rightGrad {
  width: 10px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#ea8685), to(#e66767));
  background: linear-gradient(90deg, #ea8685, #e66767);
}

#navigate #navCrutch #tableOfContent {
  width: 150px;
  height: 50px;
  background-color: #ea8685;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 18px;
}

#navigate #navCrutch #tableOfContent:hover {
  color: white;
}

#navigate #navCrutch #buttons {
  width: 150px;
  height: 50px;
  background-color: grey;
  display: inline-block;
}

#navigate #navCrutch #buttons #buttonCrutch {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ea8685;
}

#navigate #navCrutch #buttons #buttonCrutch #indicator {
  background-color: #ea8685;
  font-size: 18px;
}

#navigate #navCrutch #buttons #buttonCrutch .button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ea8685;
  cursor: pointer;
  font-size: 18px;
}

#navigate #navCrutch #buttons #buttonCrutch .button:hover {
  color: white;
}

#navigate #navCrutch #hovvver {
  width: 150px;
  height: 300px;
  background-color: #ea8685;
  position: absolute;
  top: -250px;
  z-index: 1000;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

#navigate #navCrutch #hovvver div {
  background-color: #ea8685;
  cursor: pointer;
}

#navigate #navCrutch #hovvver div:hover {
  color: white;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 0 0 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#root #leftCont {
  width: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
}

#root #leftCont #book {
  width: 800px;
  height: 500px;
  position: relative;
}

#root #leftCont #book div {
  width: 400px;
  height: 500px;
  position: absolute;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#root #leftCont #book div div img {
  width: 400px;
  height: 500px;
}

#root #leftCont #book #root1 {
  z-index: 100;
  left: 0;
}

#root #leftCont #book #root2 {
  z-index: 400;
  right: 0;
  -webkit-transform: matrix(0.0001, 0, 0, 1, -200, 0);
          transform: matrix(0.0001, 0, 0, 1, -200, 0);
}

#root #leftCont #book #root3 {
  z-index: 300;
  left: 0;
}

#root #leftCont #book #root4 {
  z-index: 300;
  right: 0;
}

#root #leftCont #book #root5 {
  z-index: 400;
  left: 0;
  -webkit-transform: matrix(0.0001, 0, 0, 1, 200, 0);
          transform: matrix(0.0001, 0, 0, 1, 200, 0);
}

#root #leftCont #book #root6 {
  z-index: 100;
  right: 0;
}

#root #leftCont #book #mask {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0);
}

#root #leftCont #book #mask div {
  width: 400px;
  height: 500px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

#root #leftCont #book #mask #maskLeft {
  left: 0;
}

#root #leftCont #book #mask #maskRight {
  right: 0;
}

#root #leftCont #doughter {
  width: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  margin: 20px 0 0 0;
  font-size: 23px;
}

#root #leftCont #doughter h2 {
  margin: 50px 0 0 0;
  text-align: center;
  font-family: 'Neucha', cursive;
}

#root #leftCont #doughter p {
  margin: 20px 0 0 0;
  text-align: justify;
  text-indent: 20px;
  font-family: 'Pacifico', cursive;
}

#root #rightCont {
  width: 800px;
  height: 1350px;
  margin: 20px auto;
}

#root #rightCont #father {
  width: 800px;
  padding: 0 5px 0 5px;
  margin: 50px 20px 20px 0;
  font-size: 25px;
  font-family: 'Neucha', cursive;
}

#root #rightCont #father h2 {
  text-align: center;
}

#root #rightCont #father p {
  margin: 20px 0 20px 0;
  text-align: justify;
  text-indent: 20px;
}

#root #footer {
  width: 60%;
  text-align: center;
  margin: 50px auto;
  font-size: 12px;
}

@media screen and (max-width: 840px) {
  #root #leftCont {
    width: 600px;
  }
  #root #leftCont #book {
    width: 600px;
    height: 400px;
  }
  #root #leftCont #book div {
    width: 300px;
    height: 400px;
  }
  #root #leftCont #book div div img {
    width: 300px;
    height: 400px;
  }
  #root #leftCont #book #root2 {
    -webkit-transform: matrix(0.0001, 0, 0, 1, -150, 0);
            transform: matrix(0.0001, 0, 0, 1, -150, 0);
  }
  #root #leftCont #book #root5 {
    -webkit-transform: matrix(0.0001, 0, 0, 1, 150, 0);
            transform: matrix(0.0001, 0, 0, 1, 150, 0);
  }
  #root #leftCont #book #mask {
    width: 600px;
    height: 400px;
  }
  #root #leftCont #book #mask div {
    width: 300px;
    height: 400px;
  }
  #root #leftCont #doughter {
    width: 600px;
  }
  #root #rightCont {
    width: 600px;
    margin: 20px auto;
    height: 1700px;
  }
  #root #rightCont #father {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  #root #leftCont {
    width: 400px;
  }
  #root #leftCont #book {
    width: 400px;
    height: 1000px;
  }
  #root #leftCont #book div {
    width: 400px;
    height: 500px;
  }
  #root #leftCont #book div div img {
    width: 400px;
    height: 500px;
  }
  #root #leftCont #book #root1 {
    top: 0;
  }
  #root #leftCont #book #root2 {
    bottom: 0;
    -webkit-transform: matrix(1, 0, 0, 0.001, 0, -250);
            transform: matrix(1, 0, 0, 0.001, 0, -250);
  }
  #root #leftCont #book #root3 {
    top: 0;
  }
  #root #leftCont #book #root4 {
    bottom: 0;
  }
  #root #leftCont #book #root5 {
    top: 0;
    -webkit-transform: matrix(1, 0, 0, 0.001, 0, 250);
            transform: matrix(1, 0, 0, 0.001, 0, 250);
  }
  #root #leftCont #book #root6 {
    z-index: 100;
    bottom: 0;
  }
  #root #leftCont #book #mask {
    width: 400px;
    height: 1000px;
  }
  #root #leftCont #book #mask div {
    width: 400px;
    height: 500px;
    opacity: 0;
  }
  #root #leftCont #book #mask #maskLeft {
    top: 0;
  }
  #root #leftCont #book #mask #maskRight {
    bottom: 0;
  }
  #root #leftCont #doughter {
    width: 400px;
  }
  #root #rightCont {
    width: 400px;
    height: 2350px;
  }
  #root #rightCont #father {
    width: 400px;
  }
}

@media screen and (max-width: 410px) {
  #root #leftCont {
    width: 300px;
  }
  #root #leftCont #book {
    width: 300px;
    height: 800px;
  }
  #root #leftCont #book div {
    width: 300px;
    height: 400px;
  }
  #root #leftCont #book div div img {
    width: 300px;
    height: 400px;
  }
  #root #leftCont #book #root1 {
    z-index: 100;
    top: 0;
  }
  #root #leftCont #book #root2 {
    -webkit-transform: matrix(1, 0, 0, 0.001, 0, -200);
            transform: matrix(1, 0, 0, 0.001, 0, -200);
  }
  #root #leftCont #book #root5 {
    -webkit-transform: matrix(1, 0, 0, 0.001, 0, 200);
            transform: matrix(1, 0, 0, 0.001, 0, 200);
  }
  #root #leftCont #book #mask {
    width: 300px;
    height: 800px;
  }
  #root #leftCont #book #mask div {
    width: 300px;
    height: 400px;
    opacity: 0;
  }
  #root #leftCont #doughter {
    width: 300px;
  }
  #root #rightCont {
    width: 300px;
    height: 3200px;
  }
  #root #rightCont #father {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */